
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Get In Touch
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="form_container">
                    <form method="post" asp-action="Contact">
                        <div>
                            <input type="text" placeholder="Your Name" name="Name"/>
                        </div>
                        <div>
                            <input type="email" placeholder="Your Email" name="Email"/>
                        </div>
                        <div>
                            <input type="text" placeholder="Your Phone" name="Phone"/>
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" name="Message"/>
                        </div>
                        <div class="btn_box ">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
